/*CSS du mode nuit*/
/*La structure du css se fait en fonction de la structure html de la chatBox
C'est à dire:
Le gros div
	La boite avec les anciens messages
	Les 2 inputs
	L'input pseudo
	Le bouton
		L'image du boutton*/
@font-face
{
	font-family: 'roboto-thin';
	src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
}
div#anonymousChatBox
{
	width: 285px;
	border: 1px black solid;
	background-color: #262626;
	border-radius: 10px;
	border: 2px #8c8c8c solid;
}
div#anonymousChatBox div#viewChat
{
	height: 375px;
	border-bottom: 1px #8c8c8c solid;
	margin: 1px;
	color: white;
	padding: 2px;
	font-family: 'roboto-thin', Arial, serif;	
}
div#anonymousChatBox input
{
	background-color: #666666;
	border-radius: 3px;
	border: none;
	margin-bottom: 5px;
	margin-top: 5px;
	color: white;
	font-family: 'roboto-thin', Arial, serif;
}
div#anonymousChatBox input#pseudo
{
	width: 80px;
	margin-left: 5px;
	margin-right: 5px;
}
::placeholder
{
	color: #cccccc;
}
div#anonymousChatBox button#envoyerMessage
{
	background-image: url('img/envoyerIcon-gris.min.png');
	background-color: #262626;
	width: 20px;
	height: 20px;
	border: none;
	margin: 2px;
	margin-bottom: 5px;
}
div#anonymousChatBox button#envoyerMessage:hover
{
	background-image: url('img/envoyerIcon-blanc.min.png');
	transform: scale(1.09);
}
/* En cas de bug de connection*/
div#anonymousChatBox p.connectionError
{
	color: #ff6666;
}